html {
    background-color: #0802A3;
}

h1 {
    color: #F31559;
}

h2 {
    color: greenyellow;
}

#Name,
#DOB,
#Gender {
    color: red;
}

form {
    color: yellow
}

button {
    background-color: greenyellow;
}