#Form {
    background-color: yellow;
    color: #150050;
    border: 5px solid #FB2576;
    border-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
    width: 400px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Submit {
    background-color: black;
    color: #5800FF;
    margin: auto;

}

.Reset {
    background-color: #0C134F;
    background-color: #F11A7B;
    color: yellow;
    margin: auto;

}

.Heading {
    color: #1D267D;
    background-color: #FB2576;
    text-align: center;
}

 .Body{
    background-color: #45FFCA;
}
body{
    background-color: #B15EFF;
}
